# Force GitHub Linguist to better reflect technologies used
*.js linguist-language=React
*.jsx linguist-language=React
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
*.css linguist-language=TailwindCSS
*.prisma linguist-language=Prisma

# Ignore vendor and build files
node_modules/* linguist-vendored
.next/* linguist-vendored
dist/* linguist-vendored
out/* linguist-vendored
